.places > h1 {
   text-align: start;
   font-size: 30px;
}

article {
   width: 390px;
   padding: 20px;
   margin: 20px;
   border: 1px solid #FF5A5F;
   border-radius: 4px;

}

article > h2 {
   font-size: 30px;
   text-align: center;
}

.article {
   display: flex;
   flex-wrap: wrap;
}
